<h1> <%= @band.name %> </h1>

<p>This is the page for <%= @band.name %>. They're the best! </p>

<form action=" <%= bands_url %>  " method="get">
  <input type="submit" value="back to bands">
  <%= auth_token %>
</form>
